.padding-allaround-extra-small {
  padding: 5px;
}
.padding-allaround-small {
  padding: 20px;
}
.padding-allaround-medium {
  padding: 40px;
}
.padding-allaround-large {
  padding: 60px;
}
.padding-allaround-xlarge {
  padding: 80px;
}
.padding-vertical-small {
  padding-top: 20px;
  padding-bottom: 20px;
}
.padding-bottom-small {
  padding-bottom: 20px;
}

.padding-top-small {
  padding-top: 20px;
}

.padding-left-small {
  padding-left: 20px;
}
.padding-left-medium {
  padding-left: 40px;
}
.padding-left-large {
  padding-left: 60px;
}
.padding-right-small {
  padding-right: 20px;
}
.padding-right-medium {
  padding-right: 40px;
}
.padding-right-large {
  padding-right: 60px;
}
.light-gray-outline {
  border: 1px solid #dadada;
}

.clickable {
  cursor: pointer;
}

.margin-allaround-extra-small {
  margin: 5px;
}
.margin-allaround-small {
  margin: 20px;
}
