body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.blue {
  color: #555f67;
}
.padding-allaround-extra-small {
  padding: 5px;
}
.padding-allaround-small {
  padding: 20px;
}
.padding-allaround-medium {
  padding: 40px;
}
.padding-allaround-large {
  padding: 60px;
}
.padding-allaround-xlarge {
  padding: 80px;
}
.padding-vertical-small {
  padding-top: 20px;
  padding-bottom: 20px;
}
.padding-bottom-small {
  padding-bottom: 20px;
}

.padding-top-small {
  padding-top: 20px;
}
.light-grey-outline {
  border: 1px solid #dadada;
}

.clickable {
  cursor: pointer;
}

.margin-allaround-extra-small {
  margin: 5px;
}
.margin-allaround-small {
  margin: 20px;
}
